.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0f0a19;
    text-align: center;
    font-family: 'Press Start 2P', system-ui;
    font-size: 20px;
    padding-top: 5px;
}


/* Adjust the top margin of the code editor container */
.code-editor-container {
    margin-top: 10; /* You can adjust this as needed */
    padding-top: 10; /* Reduce padding if necessary */
}
