@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

img {
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: flex-end; /* This will push the button to the right */
  }
  
button {
    font-family: 'Press Start 2P', system-ui;
    font-size: small;
}
  

body {
    font-family: 'Press Start 2P', system-ui;
     overflow: hidden;
    }

.end-cred {
    font-size: 9px;
    padding-top: .5%;
    font-family: "Press Start 2P", system-ui;
}

.copy {
    font-size: 9px;
    padding-top: .3%;
    font-family: "Press Start 2P", system-ui;
}

.code {
    color:cyan;
}

.container {
    text-align: center;
}

.otp {
    font-family: 'Press Start 2P', system-ui;
    font-size: small;
}
