@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


header {
    background: #0f0a19;
    text-align: center;
    justify-content: center;
    font-family: 'Press Start 2P', system-ui;
    padding-top:1.5%;
    font-size: 20px;
}

.button-container {
    display: flex;
    justify-content: flex-end; /* This will push the button to the right */
  }
  
button {
    font-family: 'Press Start 2P', system-ui;
    font-size: small;
}
  

body {
    font-family: 'Press Start 2P', system-ui;
    overflow: hidden; }