@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body, #root {
    background-color: #0f0a19;
}


img {
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: flex-end; /* This will push the button to the right */
  }
  
button {
    font-family: 'Press Start 2P', system-ui;
    font-size: small;
}
  
body {
    font-family: 'Press Start 2P', system-ui;
     overflow: hidden; 
     background-color: #0f0a19;
    }

.names {
    font-size: 7px;
    padding-top: .65%;
    padding-left: .3%;
    font-family: "Press Start 2P", system-ui;
    background-color: #0f0a19;
}

.copyright {
    font-size: 7px;
    font-family: "Press Start 2P", system-ui;
    background-color: #0f0a19;
    padding-left: .3%;
    padding-bottom: 5%;


}

.code {
    color:cyan;
}

.container {
    text-align: center;
    background-color: #0f0a19;

}

.otp {
    font-family: 'Press Start 2P', system-ui;
    font-size: small;
    background-color: #0f0a19;

}

.welc {
    font-family: 'Press Start 2P', system-ui;

}

.welcome {
    font-family: 'Press Start 2P', system-ui;
    padding-bottom: 10px;
    font-size: 48px;
    padding-top: 10px;
}

img {
    text-align: center;
    width: 120px;
}

.test {
    background-color: #0f0a19;
}

.content-class {
    background-color: #0f0a19;
}

.code-edi {
    background-color: #0f0a19;
}

.dash {
    background-color: #0f0a19;
    font-family: 'Press Start 2P', system-ui;
}

.log {
    font-family: 'Press Start 2P', system-ui;
}

.sign {
    font-family: 'Press Start 2P', system-ui;

}